.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    height: 3px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
}

.nav-link:hover::after {
    background-color: orange;
}

.card-player {
    transition: transform 0.3s ease-in-out;
}